.dashboard-item{
    border-radius: 10px;
    background-color: #f8f8f8;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0 4px 0 rgba(0, 0, 0, .2);
}

.dashboard-item .item-title{
    color: #666;
    font-size: 14px;
}

.dashboard-item .item-value{
    font-size: 20px;
    color: #232323;
    font-weight: 500;
}

.dashboard-item .item-icon{
    background-color: #76E8D4;
    border-radius: 15px;
    padding: 10px 15px;
    text-align: center;
}

.dashboard-item .item-icon i{
    color: #fff;
    font-size: 23px;
}