* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

  *:focus{
    outline: none !important;
  }
  
  html, body, #root {
    height: 100%;
    /* background-color: #D7E1E9 !important; */
    background-color: #1E1E2D;
    font-family: Poppins,Helvetica,sans-serif;
    overflow-x: hidden;
  }

  #content-container {
    margin: 15px 15px 15px 200px;
    padding: 16px;
    transition: margin-left 0.5s;
    /* margin-top: 50px; */
    background-color: #f2f3f8;
    border-top-left-radius: 15px;
    height: 100%;
    border-radius: 10px;
    position: relative;
  }
  
  #content-container #page-content{
    margin-top: 50px;
  }